---
import { buttonVariants } from "@/components/ui/button"
import { Card } from "@/components/ui/card"
import { Icons } from "@/components/ui/icons"
import Layout from "@/layout/base.astro"
import { cn } from "@/lib/utils"
import { ArrowRightCircleIcon, LinkIcon } from "@heroicons/react/24/outline"
import { Image } from "astro:assets"

const tools = [
  {
    name: "vite",
    href: "https://vite.dev",
    logo: Icons.vite,
    className: "size-[25px]",
  },
  {
    name: "react",
    href: "https://react.dev",
    logo: Icons.react,
    className: "size-[25px]",
  },
  {
    name: "hono",
    href: "https://hono.dev",
    logo: Icons.hono,
    className: "size-[24px]",
  },
  {
    name: "resend",
    href: "https://resend.com",
    logo: Icons.resend,
    className: "size-[20px]",
  },
  {
    name: "tanstack",
    href: "https://tanstack.com",
    logo: "/tanstack.png",
  },
  {
    name: "trpc",
    href: "https://trpc.io",
    logo: Icons.trpc,
    className: "size-[24px]",
  },
  {
    name: "turborepo",
    href: "https://turbo.build/repo",
    logo: Icons.turborepo,
    className: "size-[22px]",
  },
  {
    name: "supabase",
    href: "https://supabase.com",
    logo: Icons.supabase,
    className: "size-[25px]",
  },
  {
    name: "typescript",
    href: "https://www.typescriptlang.org",
    logo: Icons.typescript,
    className: "size-[22px]",
  },
  {
    name: "bun",
    href: "https://bun.sh",
    logo: Icons.bun,
    className: "size-[27px]",
  },
  {
    name: "tailwindcss",
    href: "https://tailwindcss.com",
    logo: Icons.tailwindcss,
    className: "size-[28px]",
  },
  {
    name: "upstash",
    href: "https://upstash.com",
    logo: Icons.upstash,
    className: "size-[23px]",
  },
  {
    name: "drizzle-orm",
    href: "https://orm.drizzle.team",
    logo: Icons.drizzle,
    className: "size-[31px]",
  },
  {
    name: "astro",
    href: "https://astro.build/",
    logo: Icons.astro,
    className: "size-[24px]",
  },
]
---

<Layout>
  <section class="mt-12 md:mt-16">
    <h1 class="text-3xl">
      <Image
        src={"/avatar.jpg"}
        alt="Vasyl's avatar"
        loading={"eager"}
        width={60}
        quality={95}
        height={60}
        class="-mt-1 squircle mr-1 inline-block aspect-square size-10 object-cover object-top"
      />
      Hello — I'm Vasyl,
    </h1>
    <p class="my-5 max-w-[50ch]">
      A full-stack developer based in Ukraine. I create all <br
        class="sm:hidden"
      /> sorts of websites, functional and good-looking. <br
        class="sm:hidden"
      /> With{" "}
      <a href="https://react.dev" target="_blank" rel="noreferrer">
        <span class="underline">React</span>
      </a>
      &{" "}<a
        target="_blank"
        href="https://tanstack.com"
        rel="noreferrer"
        class="underline"
      >
        <span class="underline">Tanstack</span>.
      </a>
    </p>
    <a
      href="https://www.soft.win"
      target="_blank"
      class={buttonVariants({ size: "lg" })}
      rel="noreferrer"
    >
      <span class="-mt-px">View latest project</span>
      <ArrowRightCircleIcon className="size-5" />
    </a>
  </section>
  <section class="mt-12 md:mt-16">
    <h2 class="text-2xl">Tools & tech I use</h2>
    <Card
      className="mt-4 flex flex-wrap justify-center gap-1 py-4 font-medium text-[1rem]"
    >
      {
        tools.map((t) => (
          <a
            href={t.href}
            target="_blank"
            style={{
              transform: `rotate(${Math.random() > 0.5 ? 4 : -4}deg)`,
            }}
            class={cn(
              buttonVariants({ variant: "outline" }),
              "max-sm:flex-grow"
            )}
            rel="noreferrer"
          >
            {typeof t.logo === "string" ? (
              <Image
                width={25}
                loading={"eager"}
                height={25}
                src={t.logo}
                alt={t.name}
              />
            ) : (
              <t.logo className={t.className} />
            )}
            {t.name}
          </a>
        ))
      }
    </Card>
  </section>
  <section class="mt-12 md:mt-16">
    <h2 class="text-2xl">Experience</h2>

    <h3 class="mt-6 flex items-center gap-1.5 font-primary">
      2023{" "}
      <span class="h-px w-full bg-border">
        {" "}
        <span class="sr-only">til</span>
      </span>{" "}
      now
    </h3>
    <p class="md:mt-5">
      <Image
        loading={"eager"}
        src={"/sparta.png"}
        width={80}
        height={40}
        alt="Sparta Grounds"
        class="md:-mt-2 mr-2 max-w-[3.25rem] max-md:mt-4 max-md:mb-3 md:inline-block md:max-w-10"
      />
      <strong class="font-medium">
        {" "}
        Full-stack engineer at{" "}
        <a href="https://spartagrounds.com/" class="underline">
          Sparta Grounds
        </a>
        .
      </strong>{" "}
      Building the web for land buyers.
    </p>
    <h3 class="mt-6 flex items-center gap-1.5 font-primary">
      2022{" "}
      <span class="h-px w-full bg-border">
        {" "}
        <span class="sr-only">til</span>
      </span>{" "}
      now
    </h3>
    <p class="md:mt-5">
      <Icons.upwork
        className="mr-2.5 h-8 w-14 max-md:mt-4 max-md:mb-2 md:inline-block md:w-10"
      />
      <strong class="font-medium">Upwork freelancing.</strong> Over 40 different
      projects with 100% Job Success.
    </p>
  </section>
  <section class="mt-12 md:mt-16">
    <h2 class="mb-6 text-2xl">Recent projects</h2>

    <div class="flex gap-2 border-b pb-7 max-md:flex-col md:gap-4">
      <div class="flex items-center justify-between">
        <Image src={"/winsoft.svg"} alt="Winsoft" width={58} height={58} />
        <a
          href="https://www.soft.win"
          target="_blank"
          class={cn(
            "mt-1 md:hidden",
            buttonVariants({ size: "sm", variant: "default" })
          )}
          rel="noreferrer"
        >
          view live
          <LinkIcon className="ml-1 inline-block size-4" />
        </a>
      </div>
      <div class="w-full max-md:mt-1">
        <h3 class="flex items-center gap-3 font-medium font-primary text-lg">
          Winsoft
          <a
            href="https://www.soft.win"
            target="_blank"
            class="ml-auto font-normal text-sm underline max-md:hidden"
            rel="noreferrer"
          >
            view live
            <LinkIcon className="ml-1 inline-block size-4" />
          </a>
        </h3>
        <p class="mt-2.5">A landing page for a software development company.</p>
      </div>
    </div>
    <div class="flex gap-2 border-b py-7 max-md:flex-col md:gap-4">
      <div class="flex items-center justify-between">
        <Image
          src={"/wallow.svg"}
          alt="Wallow"
          width={58}
          height={58}
          class="max-md:max-w-[53px]"
        />
        <a
          href="https://www.wallow.app"
          target="_blank"
          class={cn(
            "mt-1 md:hidden",
            buttonVariants({ size: "sm", variant: "default" })
          )}
          rel="noreferrer"
        >
          view live
          <LinkIcon className="ml-1 inline-block size-4" />
        </a>
      </div>
      <div class="w-full max-md:mt-1">
        <h3 class="flex items-center gap-3 font-medium font-primary text-lg">
          Wallow
          <a
            href="https://www.wallow.app"
            target="_blank"
            class="ml-auto font-normal text-sm underline max-md:hidden"
            rel="noreferrer"
          >
            view live
            <LinkIcon className="ml-1 inline-block size-4" />
          </a>
        </h3>
        <p class="mt-2.5">
          A real-time messaging & issue reporting app for teams.
        </p>
      </div>
    </div>
    <div class="flex gap-2 pt-6 max-md:flex-col md:gap-4">
      <div class="flex items-center justify-between">
        <Image
          src={"/vfu.svg"}
          alt="Volunteers for Ukraine"
          width={58}
          height={58}
          class="max-md:max-w-[54px]"
        />
        <a
          href="https://volunteersforukraine.org/"
          target="_blank"
          class={cn(
            "mt-1 md:hidden",
            buttonVariants({ size: "sm", variant: "default" })
          )}
          rel="noreferrer"
        >
          view live
          <LinkIcon className="ml-1 inline-block size-4" />
        </a>
      </div>
      <div class="w-full max-md:mt-1">
        <h3 class="flex items-center gap-3 font-medium font-primary text-lg">
          Volunteers for Ukraine
          <a
            href="https://volunteersforukraine.org/"
            target="_blank"
            class="ml-auto font-normal text-sm underline max-md:hidden"
            rel="noreferrer"
          >
            view live
            <LinkIcon className="ml-1 inline-block size-4" />
          </a>
        </h3>
        <p class="mt-2.5">
          A landing page for an organization providing aid in Ukraine.
        </p>
      </div>
    </div>
  </section>
  <section class="mt-12 md:mt-16">
    <div class="flex items-center justify-between">
      <h2 class="text-2xl">Testimonials</h2>
      <a
        target="_blank"
        href="https://www.upwork.com/freelancers/~015c1b113a62e11b13?viewMode=1"
        class={cn("-mt-1", buttonVariants({ variant: "outline", size: "sm" }))}
        rel="noreferrer"
      >
        <span class="-mt-0.5">view all</span>
        <ArrowRightCircleIcon className="size-4" />
      </a>
    </div>
    <Card className="mt-5">
      <p>
        "<b class="font-semibold">Vasyl made a great well-animated website!</b> He
        is amazing in communication and problem-solving skills. Would like to hire
        again for sure! Highly recommend Vasyl for the web development."
      </p>
      <p class="mt-2">
        Yurii Klymenko, CEO –{" "}
        <a
          target="_blank"
          href="https://www.soft.win"
          class="underline hover:text-foreground"
          rel="noreferrer"
        >
          Winsoft
        </a>
      </p>
    </Card>
    <Card className="mt-2.5">
      <p>
        "<b class="font-semibold">Vasyl is an amazing REACT developer.</b> Top developer
        for sure."
      </p>
      <p class="mt-2">
        Charles Polanco, CEO –{" "}
        <a
          target="_blank"
          href="https://wallow.app"
          class="underline hover:text-foreground"
          rel="noreferrer"
        >
          Wallow
        </a>
      </p>
    </Card>
    <Card className="mt-2.5">
      <p>
        "<b class="font-semibold">Skilled developer</b> with great communication
        skills! Highly recommend!
      </p>
      <p class="mt-2">
        Ananstasia Usenko –{" "}
        <a
          target="_blank"
          href="https://volunteersforukraine.org/"
          class="underline hover:text-foreground"
          rel="noreferrer"
        >
          VfU
        </a>
      </p>
    </Card>
  </section>
</Layout>
