---
import "@/styles/globals.css"
import { ArrowRightCircleIcon } from "@heroicons/react/24/outline"
import { cn } from "@/lib/utils"
import { buttonVariants } from "@/components/ui/button"
import { Icons } from "@/components/ui/icons"

const title = Astro.props.title ?? "Vasyl Polishchuk"
const description =
  Astro.props.description ??
  "Hi — I'm Vasyl, full-stack developer based in Ukraine."

type Props = {
  title?: string
  description?: string
}

const url = "https://www.vasyldev.cc"
---

<html lang="en" class="font-primary leading-5 antialiased overflow-y-scroll">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta property="description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:url" content={url} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <!-- <meta
      property="og:image"
      content="https://www.vasyldev.cc/images/og.png" 
    />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={url} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta
      property="twitter:image"
      content="https://www.vasyldev.cc/images/twitter.png"
    /> -->
    <link rel="icon" type="image" href="/favicon.ico" />
    <style>
      @font-face {
        font-family: "outfit";
        src: url("/fonts/outfit.woff2") format("woff2-variations");
        font-display: swap;
        font-style: normal;
        font-weight: 400 600;
      }
    </style>
    <link
      rel="preload"
      href="/fonts/outfit.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />
  </head>
  <body
    class="pt-5 text-base bg-background text-foreground grid min-h-svh grid-rows-[auto_1fr_auto]"
  >
    <header class="container flex items-center justify-between pb-4">
      <a href={"/"} aria-label="Home">
        <Icons.logo className="size-[24px] opacity-65" />
      </a>
      <nav>
        <ul class="flex items-center gap-3">
          <li>
            <a
              class="text-muted-foreground underline hover:text-foreground"
              href="https://www.upwork.com/freelancers/~015c1b113a62e11b13"
              target="_blank"
              rel="noreferrer"
            >
              upwork
            </a>
          </li>
          <li>
            <a
              class="text-muted-foreground underline hover:text-foreground"
              href="https://github.com/vasyaqwe"
              target="_blank"
              rel="noreferrer"
            >
              github
            </a>
          </li>

          <li>
            <a
              class="text-muted-foreground underline hover:text-foreground"
              href="https://www.linkedin.com/in/vasyl-polishchuk-37329624b"
              target="_blank"
              rel="noreferrer"
            >
              linkedin
            </a>
          </li>
          <li>
            <a
              class={cn(
                buttonVariants({
                  variant: "outline",
                  size: "sm",
                }),
                "text-muted-foreground ",
              )}
              target="_blank"
              href="https://cal.com/vasyldev/15min"
              rel="noreferrer"
            >
              <span class="-mt-0.5">contact me</span>
              <ArrowRightCircleIcon className="mt-0.5 size-5" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <slot />
    </main>
    <footer
      class="mt-20 border-t border-t-border/75 bg-muted py-5 text-muted-foreground text-xs shadow-sm md:mt-28"
    >
      <div class="container flex items-center justify-between">
        <p>© {new Date().getFullYear()} Vasyl Polishchuk</p>
        <a
          target="_blank"
          href="https://github.com/vasyaqwe/vasyldev.cc"
          class="underline hover:text-foreground"
          rel="noreferrer"
        >
          view source code
        </a>
      </div>
    </footer>
  </body>
</html>
